.form-container {
    min-height: calc(100vh - 5em);
    display: flex;
    align-items: center;
    justify-content: center;
}

.upload-image-form {
    flex: 0 1 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 20em;
    min-height: 30em;
    background-color: var(--pure-white-color);
    border-radius: 1.5em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
    padding-block: 0.5em;
}

.upload-image-form h2 {
    color: var(--blue-dark-color);
}


.upload-image-form textarea {
    background-color: var(--darker-white-color);
    border: none;
    padding: 0.8em 1em;
    width: 80%;
}

.upload-image-form textarea:focus {
    outline: 2px solid var(--blue-light-color);
}


.image-preview {
    max-width: 100%;
    max-height: 200px;
}

.error-field {
    color: red;
    min-height: 1em;
    margin-top: 0.5em;
    width: 80%;
}

.api-error {
    text-align: center;
}

@media (width > 479px) {
    .upload-image-form {
        flex-basis: 25em;
        max-width: 25em;
        min-height: 32em;
    }

}