:root {
    --white-color: #F7FBFC;
    --pure-white-color: #fff;
    --darker-white-color: #eee;
    --blue-light-color: #D6E6F2;
    --blue-medium-color: #B9D7EA;
    --blue-dark-color: #769FCD;
    --black-color: #0F0F0F;
}