:root {
  color: var(--black-color);
  background-color: var(--white-color);
  min-height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.section-container {
  max-width: 900px;
  margin: 0 auto;
}

