.form-container {
    min-height: calc(100vh - 5em);
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form {
    flex: 0 1 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
    max-width: 20em;
    min-height: 30em;
    background-color: var(--pure-white-color);
    border-radius: 1.5em;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}

.login-form h2 {
    color: var(--blue-dark-color);
}

.login-form input[type="email"],
.login-form input[type="text"],
.login-form input[type="password"] {
    background-color: var(--darker-white-color);
    border: none;
    padding: 0.8em 1em;
    width: 80%;
}

.login-form input[type="email"]:focus,
.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    outline: 2px solid var(--blue-light-color);
}

.login-form input[type="submit"] {
    border-radius: 1em;
    padding: 1em 2em;
    border: 1px solid var(--blue-dark-color);
    background-color: var(--blue-dark-color);
    color: var(--white-color);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.option a {
    color: var(--blue-dark-color);
}

@media (width > 479px) {
    .login-form {
        flex-basis: 25em;
        max-width: 25em;
        min-height: 32em;
    }
}